<ion-header>

  <ion-navbar>
    <ion-title>Mes cantines</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="openNavCantineList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="items.length === 0">
    <ion-item text-wrap>
        Aucune cantine sélectionnée
    </ion-item>
  </ion-card>
  <ion-list *ngIf="items.length > 0">
    <ion-item-sliding *ngFor="let item of items">
      <ion-item ion-item (click)="openNavDetailsPage(item)" icon-left>
          {{ item.name }}
      </ion-item>
      <ion-item-options (click)="deleteCantine(item)"  side="right">
        <button ion-button color="primary">
          <ion-icon name="trash"></ion-icon>
            Supprimer
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
